.buildpath
.idea*
.metadata*
.gitignore
.project
.rspec
.git
Insight/.project

#ignore Gemfiles
Gemfile*

#ignore CSV files
*.csv

#ignore data files
data/

#ignore rakefile
Rakefile

#ignore downloads
downloads/

#ignore output
output/

#ignore reports
reports/

#ignore screenshots
screenshots/

#ignore testbed files
conf/test_bed/

#ignore SPEC files
SPEC*
